{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    
    <h1> Liste des employés</h1>

            <a href="{{ path('new_employe')}}" class="btn btn-success m-3">Ajouter un employé</a> <br>
            {% for employe in employes %}
                    <a href="{{path('show_employe', {'id':employe.id})}}">{{employe}}</a>
                    <a class="btn btn-primary m-3" href="{{ path('edit_employe', {'id':employe.id})}}">Editer</a> 
                    <a class="btn btn-danger m-3" href="{{ path('delete_employe', {'id':employe.id})}}">Supprimer</a> 
                    <br>
            {% endfor %}
       
    
{% endblock %}
